.title {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    text-align: center;
    margin: 10px;
}

table {
    text-align: center;
}

.action-button {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.action-button:hover {
    color: white;
    text-decoration: none;
}

.action-button.edit {
    background: blue;
}

.action-button.add {
    background: green;
    margin-bottom: 20px;
    display: inline-block;
}

.action-button.delete {
    background: red;
}

.post-form {
    margin: 50px 20px;
    text-align: center;
}

.post-form input[type=text], input[type=number], textarea {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: auto;
}

.post-form textarea {
    height: 200px;
}

.post-form input[type=text]:focus, input[type=number]:focus, textarea:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.post-form select {
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin: auto;
}

td.details-control {
    background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_close.png') no-repeat center center;
}