{% load staticfiles %}
<!doctype html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inventory Tracking</title>
    <link rel="stylesheet" href="{% static 'lib/datatables.net-dt/css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>
<h2 class="title">Buildings</h2>

<table class="flat-table table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>Name</th>
        <th>No</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for build in buildings %}
        <tr>
            <td>{{ build.name }}</td>
            <td>{{ build.no }}</td>
            <td>{{ build.address }}</td>
            <td>
                <a class="action-button edit" href="">Edit</a>
                <a class="action-button delete" href="">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h2 class="title">Apartments</h2>

<table class="flat-table table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>Building</th>
        <th>Apartment No</th>
        <th>Floor</th>
        <th>Square Meter(m²)</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for apart in apartments %}
        <tr>
            <td>{{ apart.building }}</td>
            <td>{{ apart.apartment_no }}</td>
            <td>{{ apart.floor }}</td>
            <td>{{ apart.square_meter }}</td>
            <td>
                <a class="action-button edit" href="">Edit</a>
                <a class="action-button delete" href="">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h2 class="title">Rooms</h2>

<table class="flat-table table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>Apartment</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for room in rooms %}
        <tr>
            <td>{{ room.apartment }}</td>
            <td>{{ room.name }}</td>
            <td>
                <a class="action-button edit" href="">Edit</a>
                <a class="action-button delete" href="">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h2 class="title">Furnishings</h2>

<table class="flat-table table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>Room</th>
        <th>Name</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for furniture in furnishings %}
        <tr>
            <td>{{ furniture.room }}</td>
            <td>{{ furniture.name }}</td>
            <td>{{ furniture.price }} ₺</td>
            <td>
                <a class="action-button edit" href="">Edit</a>
                <a class="action-button delete" href="">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script src="{% static 'lib/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'lib/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>